<div class="container">           
        <div class="row">
            <div class="col-md-4">  
                <img src="/static/bootstrap-4.3.1-dist/images/codeplalogo.png"" alt="Code Plateau logo" style="width:170px;height:150px">
            </div>
            <div class="col-md-4">
                <img src="/static/bootstrap-4.3.1-dist/images/codeplagovt.png" alt="Plateau State Govt logo" style="width:170px;height:150px">
            </div>
            <div class="col-md-4">     
                <img src="/static/bootstrap-4.3.1-dist/images/codepictda.png" alt="PICTDA logo" style="width:170px;height:150px">
            </div>
        </div>
      </div>