{% extends "layout.html" %}

{% block title %} article {% endblock %}

{% block body %}

    <div class="lead jumbotron container container-striped">
        
        <h1>{{context[0].title}}</h1>
        <small>Written by {{context[0].author}} on {{context[0].date_created}}</small>
        <hr>
        {{context[0].body | safe}} <!-- #'| safe' stops <p></p> from showing on the body of the article -->  
    </div>
    <hr>
    
    <div>
        <h2><strong>Comments:</strong></h2>
        <!-- {% include 'includes/_messages.html' %} -->
        {% for comment in context[1] %}
            <blockquote>
            <p>{{comment.body | safe}}</p> <small>-{{ comment.username }}  {{comment.date_created}}</small>
            </blockquote>
            <hr>
        {% endfor %}
        <hr>

        <h3><strong>Post a comment:</strong></h3>
        {% if session.logged_in == True %}
            {% from "includes/_formhelpers.html" import render_field %}
            <form action="/article/<string:id>/" method="POST">
                <div class="container container-secondary">
                    {{render_field(form.body, class="form-control", id = "editor")}}
                    <input type="hidden" name= "id" value="{{context[0].id}}">
                    <div class="action-buttons">
                        <input type="submit" class="btn btn-info border-info  my-sm-2" value="Post">
                    </div>
                </div>
            </form>
        {% else %}
            <p>Please <a href="/login"> login</a> to post your comment</p>
        {% endif %}

    </div>

{% endblock %}