{% extends "layout.html" %}

{% block title %}edit article{% endblock %}

{% block body %}


<h1 class="btn btn-lg btn-outline-success- my-sm-2">EDIT ARTICLES</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form action="" method="POST">
    <div class="container container-secondary">
        {{render_field(form.title, class="form-control")}}
        {{render_field(form.body, class="form-control", id = "editor")}}
        <div class="action-buttons">
            <a href="/dashboard"class="btn border-secondary ">Close</a>
            <input type="submit" class="btn btn-info border-info  my-sm-2" value="Update">
        </div>
    </div>
    <p></p>
</form>


{% endblock %}